body {
  font-family: Georgia, serif;
  font-size: 17px;
  color: black;
}
h2 {
  font-size: 24px;
  /*display: flex;*/
}

div {
  border: 1px black solid;
}

/* Header elements */
header {
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: inline-flex;
  color: MediumAquamarine;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}
nav {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1;
}
nav li {
  display: inline-block;
  padding: 20px 10px;
  flex-wrap: wrap;
}
a {
  color: black;
}

/* Main elements */

main {
  display: flex;
  flex-grow: 1;
}
.column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 15px;
}
.column.large {
  width: 630px;
/*  flex-direction: row; */
  /* flex-wrap: wrap; */
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}

.story-container {
  display: flex;
  flex-direction: column;
}

.story {
  display: flex;
  flex-direction: column;
}

.story-headline {
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: block;
  margin: 15px 0 0 0;
}
.story-text {
  display: flex;
  flex-direction: column;
}

#main-story {
  background-image: url('../images/img-story-main.png');
  font-size: 40px;
  text-align: left;
  flex-grow: 2;
  margin: 0;
}
#earth {
  background-image: url('../images/img-story-2.png');
  flex-grow: 1;
  text-align: center;
}
#camera {
  background-image: url('../images/img-story-3.png');
  flex-grow: 1;
  text-align: center;
}
#cat {
  background-image: url('../images/img-story-1.png');
  flex-grow: 1;
  text-align: center;
}
